<footer>
  <div class="site-footer">
    <div class="site-footer-item-box">
      <p class="site-footer-item site-footer-item-title">合作伙伴</p>
      <p class="site-footer-item site-footer-item-subtitle"><a class="site-footer-item-subtitle" href="https://github.com/awesome-tips/iOS-Tips">知识小集</a></p>
    </div>
    <div class="site-footer-item-line"></div>
    <div class="site-footer-item-box">
        <p class="site-footer-item site-footer-item-title">致谢</p>
        <p class="site-footer-item site-footer-item-subtitle"><a class="site-footer-item-subtitle" href="https://objccn.io/">主题样式来自objccn</a></p>
    </div>
    <div class="site-footer-item-line"></div>
    <div class="site-footer-item-box">
        <p class="site-footer-item site-footer-item-title">联系我</p>
        <p class="site-footer-item site-footer-item-subtitle"><a class="site-footer-item-subtitle" href="https://mp.weixin.qq.com/s/0hr2cTnGBBf3hbZFVNlAcg">关注超越技术公众号</a></p>
    </div>
  </div>

</footer>
