<header class="site-header">
  <div class="site-nav-box">
    <p class="site-nav-item"><a href="../_layouts/about.html">超越技术</a></p>
    <p class="site-nav-item"><a href="../_layouts/about.html">数据结构</a></p>
    <p class="site-nav-item"><a href="../_layouts/about.html">算法</a></p>
    <p class="site-nav-item"><a href="../_layouts/about.html">前端</a></p>
    <p class="site-nav-item"><a href="../_layouts/about.html">iOS</a></p>
    <p class="site-nav-item"><a href="../_layouts/about.html">关于我</a></p>
  </div>
  <div class="site-banner">
    <!-- <img src="../assets/banner1.png" alt=""> -->
    <p class="site-banner-title">欢迎来到超越技术！</p>
  </div>
</header>
