/**
 * 顶部的 banner
 */


// 手机屏幕
@media screen and (max-device-width: $iphone-with) {
  .site-header {
    height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    overflow: hidden;
    width: 100%;
  }
  .site-nav-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
// 电脑屏幕
@media screen and (min-device-width: $iphone-with) {
  .site-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
  }
  .site-nav-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
  }
}

// 导航菜单样式
.site-nav-item {
  flex: 1;
  text-align: center;
  color: $nav-nomal-color;
  font-size: 24px;
  padding: 15px 0;
  &:visited {
    color: $nav-nomal-color;
    text-decoration: none;
  }
  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

// 首页轮播图Banner
.swiper-container {
  width: 100%;
  height: 300px;
  .swiper-slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-color: white;
    .swiper-title {
      width: 80%;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 50px;
      color: white;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      &:active, &:focus {
        opacity: 1;
      }
    }
  }
}

.home-content {
  // 电脑
  @media screen and (min-device-width: $iphone-with) {
    margin: 20px 50px;
  }
  // 手机
  @media screen and (max-device-width: $iphone-with) {
    margin: 20px 0;
  }
  background-color: white;
  padding-bottom: 10px;
  .des {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 1px;
    color: $text-color;
  }
}

// 标题
.home-title-container {
  background-color: white;
  padding: 20px;
  padding-bottom: 0;
  .title {
    display: inline-block;
    margin-top: 10px;
    font-size: 30px;
    color: $title-color;
    text-align: left;
    border-bottom: 1px solid $title-color;
  }
}

// 过渡动画
.home-active-transition {
  transition-property: all;
  transition-duration: 0.25s;
  transition-delay: 0;
  transition-timing-function: linear;
}

// 推荐
.recomend-container {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 240px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .item {
    position: relative;
    width: 32%;
    cursor: pointer;
    &:hover {
      opacity: 0.4;
    }
    &:active {
      opacity: 1;
    }
    &:focus {
      opacity: 1;
    }
    .img {
      border-radius: 6px;
      width: 100%;
      height: 100%;
    }
    .title {
      background-color: black;
      position: absolute;
      padding: 0 8px;
      text-align: center;
      font-size: 24px;
      color: white;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

// 前端小课
.fe-container {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .item {
    flex-shrink: 0;
    width: 23%;
    height: 200px;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      opacity: 0.4;
    }
    &:active {
      opacity: 1;
    }
    &:focus {
      opacity: 1;
    }
    .img {
      border-radius: 6px;
      width: 100%;
      height: 100%;
    }
    .title {
      position: absolute;
      margin: 0;
      text-align: center;
      font-size: 24px;
      line-height: 40px;
      color: white;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

// 周边设施
.more-container {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  .item {
    position: relative;
    width: 19%;
    height: 140px;
    cursor: pointer;
    &:hover {
      opacity: 0.4;
    }
    &:active {
      opacity: 1;
    }
    &:focus {
      opacity: 1;
    }
    .img {
      border-radius: 4px;
      width: 100%;
      height: 100%;
    }
    .title {
      margin: 0;
      position: absolute;
      text-align: center;
      font-size: 24px;
      line-height: 40px;
      color: white;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.gzh-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid #0077FF;
    border-radius: 2px;
    width: 30%;
    padding: 10px;
    .title {
      font-size: 18px;
      line-height: 25px;
      color: black;
      border-bottom: 1px solid #0077FF;
    }
    .des, p {
      font-size: 16px;
      line-height: 25px;
    }
    .img {
      width: 160px;
      height: 160px;
      margin-bottom: 10px;
    }
  }
}



.site-banner-btn {
  font-size: 20px;
  color: $theme-color !important;
  background-color: white;
  border-radius: 4px;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  text-align: center;
  width: 300px;
  padding: 8px;
  margin-bottom: 40px;
  font-weight: 400;
  &:hover{
    text-decoration: underline;
  }
  &:active {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

/**
site content
*/ 
.site-list-box {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 100px;
}

.site-list-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #F8F8F8;
  border: 0.5px;
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  border-bottom-style: dashed;
  border-color: #999999;
  background-color: white;
  padding: 10px;
}

.site-list-item-title {
  font-size: 20px;
  font-weight: 900;
  color: #2e3135 !important;
  margin-top: 15px;
}

.site-list-item-des {
  font-size: 17px;
  color: #444444 !important;
  letter-spacing: 1.5px;
}

@media screen and (max-device-width: $iphone-with) {
  .site-list-item-des  {
    font-size: 15px;
  }
}

.site-list-item-tag {
  color: #F04A4D;
  font-size: 14px;
  border-radius: 4px;
  border: #FE7235 1px solid;
  padding: 4px 4px;
  margin: 0px 10px;
}

.site-list-recomend-item-title {
  @extend .site-list-item-title;
  color:white  !important;
}
.site-list-recomend-item-des {
  @extend .site-list-item-des;
  color: white !important;
}
.site-list-recommend-box {
  @extend .site-list-box;
  margin-bottom: 0;
}
.site-list-recommend-item {
  @extend .site-list-item;
  background-color: $theme-color;
}
/**
site content
*/ 

// 在移动端布局只需要 1 列
@media screen and (max-device-width: $iphone-with) {
  .site-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, minmax(300px, 1fr));
    gap: 10px;
    width: 100%;
    margin: 20px auto;
  }
}

// 在电脑端布局只需要 2 列
@media screen and (min-device-width: $iphone-with) {
  .site-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(340px, auto));
    gap: 10px;
    width: 85%;
    margin: 40px auto;
  }
}

.site-content > div {
  padding: 20px;
  /*background-color: rgb(207,232,220);*/
  // border: 1px solid rgba(216, 216, 216, 0.5);
  // border-right: 1px solid rgba(216, 216, 216, 0.5); 
}
.site-item-box {
  display: flex;;
  flex-direction: column;
  background-color: white;
  // border-radius: 4px;
  // border-width: 1px;
  // border-color:white;
  // border-style: solid;
}

.site-item-top {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.site-item-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.site-item-left {
  width: 87px;
}
.site-item-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/*图标*/
.site-item-cover {
  padding-top: 8px;
  width: 65px;
  height: 65px;
}
/*标题*/
.site-item-title {
  font-size: 30px;
  color: $theme-color;
}
/*内容*/
.site-item-subtitle {
  margin-top: 10px;
  font-size: 20px;
  color: #4A4A4A;
  letter-spacing: 1.5px;
  line-height: 30px;
}
/*按钮*/
.site-item-btn {
  font-size: 18px;
  color: $theme-color;
  border-radius: 4px;
  border-width: 1px;
  border-color: $theme-color;
  border-style: solid;
  text-align: center;
  width: 80%;
  padding: 8px;
  margin-bottom: 20px;
}

.site-item-btn:hover {
  background-color: $theme-color;
  color: white;
  text-decoration: none;
}
.site-item-btn:active {
  background-color: white;
  color: $theme-color;
  text-decoration: none;
}
.site-item-btn:focus {
  background-color: white;
  color: $theme-color;
  text-decoration: none;
}

/**
item
*/ 
.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer ======================= footer
 */
.site-footer {
  display: flex;
  flex-direction: row;
  background-color: #2F2F2F;
  height: 200px;;
  align-items: center;
}

.site-footer-item-box {
  width: 33%;
  height: 80%;
}

.site-footer-item {
  // 手机屏幕
@media screen and (max-device-width: $iphone-with) {
  padding-left: 20px;
}

@media screen and (min-device-width: $iphone-with) {
  padding-left: 80px;
}
}

.site-footer-item-title {
  color: white;
  font-size: 16px;
}
.site-footer-item-subtitle {
  padding-top: 20px;
  color: #777777 !important;
  font-size: 16px;
}
.site-footer-item-line {
  background-color: #4A4A4A;
  width: 1px;
  height: 80%;
}
.site-footer-item-bottom-line {
  background-color: #5B83FD;
  width: 60px;
  height: 1px;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

////////////////// end footer

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}


/**
 * 博客相关的
 */
 .post-list-heading {
  font-size: 17px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    font-size: 17px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post-header {
  border-left: 4px solid #D0021B;
  border-right: 4px solid #D0021B;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 4px;
}

.post-title {
  font-size: 30px;
  color: $text-color;
}

.post-content {
  border-radius: 4px;
  padding: 20px;
  background-color: white;
  margin-bottom: $spacing-unit;
  p, li{
    font-size: 17px;
    line-height: 34px;
    color: #595959;
    letter-spacing: 1px;
  }
  h2 {
    color: black;
   font-size: 28px;
   border-bottom: 2px solid $brand-color;
   padding-left: 5px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    color: black;
    font-size: 20px;
    border-left: 2px solid #FF7582;
    display: inline-block;
    padding-left: 5px;
  }
}

.page-top-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

// 关于
.about-title {
  display: inline-block;
  padding-top: 20px;
  font-size: 24px;
  color: #157ABC;
  border-bottom: #157ABC 1px solid;
}

.about-des {
  font-size: 18px;
  color: #555555;
}
.about-qrcode {
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}
.about-link {
  color: #0077FF;
  text-decoration: underline;
}

.card {
  position: relative;
  background-color: #258BD6;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  max-width: 340px;
}
.card-bottom {
  margin-bottom: 10px;
}
.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-size: 100% 100%;
}
.logo-weibo {
  background-image: url('../assets/weibo.png');
}
.logo-github {
  background-image: url('../assets/github.png');
}
.weibo-avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-image: url('https://tvax3.sinaimg.cn/crop.0.0.667.667.180/006uSOiEly8fxzfw4tub0j30ij0ijt92.jpg?Expires=1566658624&ssig=OxX4mK8Uxs&KID=imgbed,tva');
  background-size: 100% 100%;
}
.weibo-nickname {
  position: absolute;
  top: 20px;
  left: 80px;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.weibo-des {
  position: absolute;
  top: 45px;
  left: 80px;
  font-size: 16px;
  color: white;
}