---
layout: home-page
title: 超越技术
permalink: /home/
---

<!-- 首页轮播图 -->
<div class="swiper-container">
  <div class="swiper-wrapper">
      {%- for item in site.data.home.list.banners -%}
      <div class="swiper-slide" style="background-image:url('{{ item.img }}')" onclick="itemClick('{{item.link}}')">
        <p class="swiper-title">{{item.title}}</p>
      </div>
      {%- endfor -%}
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-white"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
</div>

<div class="home-content">
  <!-- 强烈推荐 -->
  <div class="home-title-container">
    <p class="title">{{ site.data.home.list.recommend.title }}</p>
    <p class="des">{{ site.data.home.list.recommend.des }}</p>
  </div>
  
  <div class="recomend-container">
      {%- for item in site.data.home.list.recommend.list -%}
      <div class="item home-active-transition" onclick="itemClick('{{item.link}}')">
        <img class="img" src="{{ item.img }}" alt="">
        <p class="title">{{ item.title }}</p>
      </div>
      {%- endfor -%}
  </div>

  <!-- 前端小课 -->
  <div class="home-title-container">
      <p class="title">{{ site.data.home.list.fe.title }}</p>
      <p class="des">{{ site.data.home.list.fe.des }}</p>
  </div>
    
    <div class="fe-container">
        {%- for item in site.data.home.list.fe.list -%}
        <div class="item home-active-transition" onclick="itemClick('{{item.link}}')">
          <img class="img" src="{{ item.img }}" alt="">
          <p class="title">{{ item.title }}</p>
        </div>
        {%- endfor -%}
    </div>

      <!-- 周边设施 -->
    <div class="home-title-container">
      <p class="title">{{ site.data.home.list.more.title }}</p>
      <p class="des">{{ site.data.home.list.more.des }}</p>
    </div>
    
    <div class="more-container">
        {%- for item in site.data.home.list.more.list -%}
        <div class="item home-active-transition" onclick="itemClick('{{item.link}}')">
          <img class="img" src="{{ item.img }}" alt="">
          <p class="title">{{ item.title }}</p>
        </div>
        {%- endfor -%}
    </div>
</div>


<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      effect: 'fade',
      autoplay: {
          delay: 8500,
          disableOnInteraction: false,
      },
      pagination: {
          el: '.swiper-pagination',
          clickable: true,
      },
      navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
      },
  });
</script>

<script>
  function itemClick(link) {
    console.log(link);
    window.open(link, '_blank');
  }
</script>