---
layout: home-page
title: 超越技术
permalink: /home/
---
<div class="site-banner">
    <!-- <img src="../assets/banner1.png" alt=""> -->
    <p class="site-banner-title">关注素燕公众号，及时获得更新</p>
    <a  class="site-banner-btn" href="/about/">立即关注 ></a>
</div>
<div>
  <div class="site-content">
      {%- for item in site.data.home.list.datas -%}
      <div class="site-item-box">
          <div class="site-item-top">
            <div class="site-item-left">
              <img src="{{item.img}}" class="site-item-cover">
            </div>
            <div class="site-item-right">
              <p class="site-item-title">{{item.title}}</p>
              <p class="site-item-subtitle">{{item.des}}</p>
            </div>
          </div>
          <div class="site-item-bottom">
            <a class="site-item-btn" href="{{item.href}}">{{item.link-title}}</a>
          </div>
        </div>
      {%- endfor -%}
    <!-- end -->
  </div>